.notification {
    display: flex;
    width: fit-content;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 8px;
    padding: 8px;

    button {
        padding: 0;
        background: transparent;
        border: none;
    }
    p {
        margin: 0;
    }
    &--success {
        background: green;
        color: white;
    }
    &--error {
        background: red;
        color: black;
    }
    &--info {
        background: rgb(97, 97, 245);
        color: white;
    }
}
