.tab-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 12px;
    &--header {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        align-items: center;
        gap: 12px;
    }
}

.tab-item {
    cursor: pointer;
    &--active {
        font-weight: 600;
        border-bottom: 2px solid #000;
    }
}
